<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Access_Database.Properties.Settings.DataBasePersonaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\osval\OneDrive\Documentos\Materia Programación\Codigos\Access Database\DataBasePersona.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Access_Database.Properties.Settings.DataBasePersonaConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DataBasePersona.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>